@theme {
  --color-primary: #376fff;
  --color-success: #2bd994;
  --color-warning: #f3a952;
  --color-danger: #fb2c56;
  --color-background: var(--color-background);
  --color-card: var(--color-card);
  --color-default: var(--color-default);
}

:root {
  --color-background: #f5f5f7;
  --color-card: #ffffff;
  --color-default: #eaecef;
}

.dark {
  --color-background: #08090c;
  --color-card: #14171c;
  --color-default: #242830;
}
