@import "tailwindcss";
@source "../../src/runtime/components";
@source inline("flex-col flex-row");

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Inter", sans-serif;
  --color-primary: #376fff;
  --color-success: #2bd994;
  --color-warning: #f3a952;
  --color-danger: #fb2c56;
}
